node_modules/
dist/

# env
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

*-qa-ai-rules-*.*.*.tgz
*-qa-ai-rules-latest.tgz

playwright-report/
test-results/